
#body{
	
background-image: url(56.jpeg);
background-attachment: fixed;
background-position: bottom left;

}
#cv{

	color: red ; text-align: right;
	
}
#button{



	font-size: 20px;
}
#header{
background-color:powderblue;
color: #9C27B0;
font-size: 35px;
width: 500px;
border:solid 5px black;
margin: 20 auto;
padding: 20px;
}
p.text:hover {
  color: red;
}
.text{

background-color: yellow;
font-size: 30px;
color: #ff7043;
text-align: center;
width: auto;
border:solid 5px black;
padding: 30px;

}

#list1{
background-color:powderblue;
color: #9C27B0;
font-size: 35px;
width: 400px;
border:solid 5px black;
margin: 0 auto;
padding: 20px;
float: left;
}
#list2{
background-color:powderblue;
color: #9C27B0;
font-size: 35px;
width: 500px;
border:solid 5px black;
margin: 20px auto;
padding: 20px;
text-align: center;
float: right;
padding-left: 200
}
